<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wao.flutter.application.project.android_gallery_picker">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:label="GalleryPicker"
        tools:replace="label"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
    <activity
        android:name=".GalleryActivity" />
    </application>
</manifest>
